body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.button-link{
    text-decoration: none;
    background-color: #E02C6D;
    ;
    padding: 10px 40px;
    
    /* border-radius: 40px; */
    color: #FFFFFF;
    font-weight: 400;


}
.direction{
    margin-left: 12px;
}
.top-name h1{
    font-size: 64px;
    color:#FFFFFF;
    padding-top: 50px;

}
.top-banner{
    display: flex;
    
  
    /* display: grid;
    grid-template-columns:repeat(2, 1fr);
   justify-content: center;
    margin-bottom: 150px; */
    background-color:#2D25A0;
    width:100%
    
    
   
    
}
.half-width{
    width: 100%;
    padding-left: 10%;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.half-width img{
    width: 100%;
   
}
.half-width h1{
    font-size: 64px;
    color:#FFFFFF;
    padding-top: 50px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 70px 210px 45px 180px;
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-banner img{
    width: 300px;
    height: 256px;
}
  


.footer-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
   
}
.logo-part{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-column-gap: 10px;
    


}
.icon{
    font-size: 30px;
    padding-left: 15px;
    color: rgb(122, 120, 120);
}
.footer-copyright p{
    font-size: 18px;
    text-align: center;
    margin-left: 5px;
}
@media only screen and (max-width:688px) {
    body {
        overflow-x: hidden;
      }
   
    .players{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .top-banner{
        flex-direction: column;
        
    }
    .half-width h1{
        font-size: 54px;
        color:#FFFFFF;
        padding-top: 50px;
    }
    .half-width img{
        width: 70%;
       
    }

    
}