body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* .top-banner{
    display: flex;
    background-color: #2D25A0;;
}
.top-image img{
    width: 80%;
}
.top-title{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700;
    margin-top: 207px;
    
    margin-left: 156px;
    
    

}
.button-link{
    background-color: #E02C6D;
    color: #FFFFFF;
    text-decoration: none;
    
    margin-left: 156px;
    margin-bottom: 69px;

} */
.button-link{
    text-decoration: none;
    background-color: #E02C6D;
    ;
    padding: 10px 40px;
    
    /* border-radius: 40px; */
    color: #FFFFFF;
    font-weight: 400;


}
.direction{
    margin-left: 12px;
}
h1{
    font-size: 64px;
    color:#FFFFFF;
    padding-top: 50px;

}
.top-banner{
    /* display: flex; */
    display: grid;
    grid-template-columns:repeat(2, 1fr);
   justify-content: center;
    margin-bottom: 150px;
    background-color:#2D25A0;
    width:100%
    
    
   
    
}
.half-width{
    width: 100%;
    padding-left: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.half-width img{
    width: 100%;
   
}
/* .container{
    background-color:royalblue;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
} */
.players{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4px;
    justify-items: center;
}
.player{
    box-shadow: 10px 10px 40px gray;
    width:70%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.player p{
    color: #6C6C6C;
}
.player img{
    width: 100%;
    padding-top: 10px;
}
.footer-image img{
    display:grid;
   grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    width: 50%;
}
.logo-part{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-column-gap: 10px;
    


}
.icon{
    font-size: 30px;
    padding-left: 15px;
    color: rgb(122, 120, 120);
}
.footer-copyright p{
    font-size: 18px;
    text-align: center;
    margin-left: 5px;
}
@media only screen and (max-width:688px) {
    .top-banner, .players, .footer-image>img{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-image img{
        margin-left: 100px;
    }

    
}