body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.button-link{
    text-decoration: none;
    background-color: #E02C6D;;
    padding: 10px 40px;
    color: #FFFFFF;
    font-weight: 400;


}
.direction{
    margin-left: 12px;
}
.top-name h1{
    font-size: 64px;
    color:#FFFFFF;
    padding-top: 50px;

}
.top-banner{
    display: flex;
    transition: background 2s ease-in 0s;
    
  
    /* display: grid;
    grid-template-columns:repeat(2, 1fr);
   justify-content: center;
    margin-bottom: 150px; */
    background-color:#2D25A0;
    width:100%
    
    
}

.top-banner:hover{
    
    background-color: brown;
}
.half-width{
    width: 100%;
    padding-left: 10%;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.half-width img{
    width: 100%;
   
}
.half-width h1{
    font-size: 64px;
    color:#FFFFFF;
    padding-top: 50px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 70px 210px 45px 180px;
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-banner img{
    width: 300px;
    height: 256px;
}
.info-style {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 2;

}
.match-title, .sponsor-title{
    text-align: center;
    font-size: 30px;
}
.match-result{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 70px 210px 45px 180px;
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.math-info{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.team-pic img{
    width: 300px;
    height: 256px;
    padding-bottom: 20px;
}
.team-pic h3{
    text-align: center;
    font-size: 25px;
}
.team-detail a{
    text-align: center;
    
    
}
.team-detail>.button-link{
    border-radius: 10px;
}
.sponsor-part{
    margin-top: 100px;
}
.match-sponsor{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 70px 180px 100px 250px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.sponsor img {
    width: 70px;
    height: 70px;
}
.for-sponsor{
    margin-bottom: 100px;
   
}
.sponsor-link{
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: tomato;
    border-radius: 5px;
    padding: 10px 40px;
    
    
    
}
  


.footer-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
   
}
.logo-part{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-column-gap: 10px;
    


}
.icon{
    font-size: 30px;
    padding-left: 15px;
    color: rgb(122, 120, 120);
}
.footer-copyright p{
    font-size: 18px;
    text-align: center;
    margin-left: 5px;
}
@media only screen and (max-width:688px) {
    body {
        overflow-x: hidden;
      }
   
    .players, .match-result{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .match-sponsor{
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 100px;
        grid-row-gap: 50px;
        justify-content: center;


    }
    .top-banner{
        flex-direction: column;
        
    }
    .half-width h1{
        font-size: 54px;
        color:#FFFFFF;
        padding-top: 50px;
    }
    .half-width img{
        width: 70%;
       
    }

    
}